Source: python-logilab-hmm
Section: python
Priority: optional
Maintainer: Alexandre Fayolle <alexandre.fayolle@logilab.fr>
Build-Depends: debhelper (>= 5.0.37.1), python-all-dev (>=2.3.5-7), python-all (>=2.3.5-7), python-central, python-numeric (>=24.2-3)
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-logilab-hmm
Architecture: any
Depends: ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: hidden Markov models in  python 
 Hmm is a python module providing an implementation of Hidden Markov Model 
 and associated algorithms (Viterbi and Baum-Welsh). It uses Numeric Python 
 to speed up the computations. The implementation is based on 
 _A Tutorial on Hidden Markov Models and Selected Applications in Speech 
 Recognition_, by Lawrence Rabiner, IEEE, 1989.
 .
 homepage: http://www.logilab.org/projects/hmm
