#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3


PACKAGE=hmm

PY2.1_TMP=debian/python2.1-logilab-$(PACKAGE)
PY2.2_TMP=debian/python2.2-logilab-$(PACKAGE)
# don't build for python2.3 as numpy is not available yet
#PY2.3_TMP=debian/python2.3-logilab-$(PACKAGE)

build: build-stamp
build-stamp: 
	dh_testdir
	python2.1 setup.py -q build
	python2.2 setup.py -q build
	#python2.3 setup.py -q build
	touch build-stamp

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf build
	rm -rf $(PY2.1_TMP) $(PY2.2_TMP) #$(PY2.3_TMP)
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install for all Python versions.
	python2.1 setup.py -q install --root=$(PY2.1_TMP) --no-compile
	python2.2 setup.py -q install --root=$(PY2.2_TMP) --no-compile
	#python2.3 setup.py -q install --root=$(PY2.3_TMP) --no-compile
	# logilab/__init__.py is shared among different python-logilab packages
	# it is created in postinst script
	rm $(PY2.1_TMP)/usr/lib/python2.1/site-packages/logilab/__init__.py
	rm $(PY2.2_TMP)/usr/lib/python2.2/site-packages/logilab/__init__.py
	#rm $(PY2.3_TMP)/usr/lib/python2.3/site-packages/logilab/__init__.py

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i

	dh_installdocs -i -A README
	dh_installchangelogs -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i 
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a 
	dh_testroot -a 
	dh_installdocs -a -A README
	dh_installexamples -a
	dh_installchangelogs -a
	dh_strip -a
	dh_link -a
	dh_compress -a 
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary

